datafactory/pipeline/pl_ecv_master.json
{
	"name": "pl_ecv_master",
	"properties": {
		"description": "Pipeline maestro ECV - orquesta Workflow Databricks con validaciones cross-service",
		"activities": [
			{
				"name": "act_validar_archivos_raw",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_raw_ecv",
						"type": "DatasetReference",
						"parameters": {
							"anio": "2018"
						}
					},
					"fieldList": [
						"itemName",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "act_run_databricks_workflow",
				"type": "DatabricksJob",
				"dependsOn": [
					{
						"activity": "act_validar_archivos_raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"jobId": "854765215161686"
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_ecv",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "act_validar_serving",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_run_databricks_workflow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\n    COUNT(*) AS total_filas,\n    COUNT(DISTINCT anio_encuesta) AS total_anios,\n    SUM(total_personas) AS total_personas,\n    SUM(total_becados) AS total_becados,\n    SUM(total_en_riesgo) AS total_en_riesgo\nFROM fac_ecv",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azuresql_validacion",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "act_log_resultado",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_validar_serving",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipeline_status",
					"value": {
						"value": "@concat('Pipeline OK - Total filas: ', activity('act_validar_serving').output.firstRow.total_filas)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"pipeline_status": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-04T22:54:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}