adf-ecv-dev/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-ecv-dev"
		},
		"ls_adls_raw_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adls_raw'"
		},
		"ls_databricks_ecv_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_databricks_ecv'"
		},
		"ls_adls_raw_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://saencuestadev.dfs.core.windows.net/"
		},
		"ls_databricks_ecv_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0530-222447-b38bo4o2"
		},
		"ls_keyvault_ecv_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://akv-ecv.vault.azure.net/"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-ecv.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ecv-dev"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "admin_sql_ecv"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_raw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_raw_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_raw_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_databricks_ecv')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405615669497279.19.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_databricks_ecv_accessToken')]"
					},
					"existingClusterId": "[parameters('ls_databricks_ecv_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_keyvault_ecv')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_keyvault_ecv_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_ecv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_raw",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"anio": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{dataset().anio}/",
							"type": "Expression"
						},
						"folderPath": "ecv",
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_keyvault_ecv",
							"type": "LinkedServiceReference"
						},
						"secretName": "azuresql-password"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_keyvault_ecv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_azuresql_validacion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ecv_master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline maestro ECV - orquesta Workflow Databricks con validaciones cross-service",
				"activities": [
					{
						"name": "act_validar_archivos_raw",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_raw_ecv",
								"type": "DatasetReference",
								"parameters": {
									"anio": "2018"
								}
							},
							"fieldList": [
								"itemName",
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "act_run_databricks_workflow",
						"type": "DatabricksJob",
						"dependsOn": [
							{
								"activity": "act_validar_archivos_raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"jobId": "854765215161686"
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_ecv",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "act_validar_serving",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "act_run_databricks_workflow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT\n    COUNT(*) AS total_filas,\n    COUNT(DISTINCT anio_encuesta) AS total_anios,\n    SUM(total_personas) AS total_personas,\n    SUM(total_becados) AS total_becados,\n    SUM(total_en_riesgo) AS total_en_riesgo\nFROM fac_ecv",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_azuresql_validacion",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "act_log_resultado",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "act_validar_serving",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipeline_status",
							"value": {
								"value": "@concat('Pipeline OK - Total filas: ', activity('act_validar_serving').output.firstRow.total_filas)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"pipeline_status": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-04T22:54:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_raw_ecv')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_ecv')]",
				"[concat(variables('factoryId'), '/datasets/ds_azuresql_validacion')]"
			]
		}
	]
}